In [1]:
import pandas as pd
import numpy as np

In [3]:
pd.Series() #Criar uma série

Series([], dtype: object)

In [ ]:
ice_cream_flavors = [
    'Chocolate',
    'Vanilla',
    'Strawberry',
    'Rum Raisin'
]
pd.Series(ice_cream_flavors) #Foi criado uma Série da variável ice_cream_flavors

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [ ]:
pd.Series(data=ice_cream_flavors) #O argumento data nesta função recebe a variável e os outros argumentos continuam no padrão

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [6]:
days_of_week = ('Monday', 'Wednesday', 'Friday', 'Saturday')

In [ ]:
pd.Series(ice_cream_flavors, days_of_week) #Indicamos quem seriam os índices da Série

Monday        Chocolate
Wednesday       Vanilla
Friday       Strawberry
Saturday     Rum Raisin
dtype: object

In [8]:
pd.Series(data=ice_cream_flavors, index=days_of_week)

Monday        Chocolate
Wednesday       Vanilla
Friday       Strawberry
Saturday     Rum Raisin
dtype: object

In [12]:
days_of_week = ('Monday', 'Friday', 'Saturday', 'Monday')

In [ ]:
pd.Series(data=ice_cream_flavors, index=days_of_week) #Pandas permite duplicatas nos índices, contuto não é recomendado fazer para não ter problemas quando for preciso encontrar o valor deste índice com maior rapidez

Monday       Chocolate
Friday         Vanilla
Saturday    Strawberry
Monday      Rum Raisin
dtype: object

In [ ]:
pd.Series(index=days_of_week, data=ice_cream_flavors) #Mesmo mudando a ordem dos parâmetros o pandas entende o que é index e data

Monday       Chocolate
Friday         Vanilla
Saturday    Strawberry
Monday      Rum Raisin
dtype: object

In [15]:
bunch_of_bools = [True, False, False]
pd.Series(bunch_of_bools)

0     True
1    False
2    False
dtype: bool

In [16]:
stock_prices = [985.2, 950.44]
time_of_day = ['Open', 'Close']
pd.Series(data=stock_prices, index=time_of_day)

Open     985.20
Close    950.44
dtype: float64

In [17]:
lucky_numbers = [4,8,15,16,23,42]
pd.Series(lucky_numbers)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [18]:
temperatures = [94, 88, np.nan, 91]
pd.Series(data = temperatures)

0    94.0
1    88.0
2     NaN
3    91.0
dtype: float64

In [ ]:
calorie_info = {
    'Cereal': 125,
    'Chococlate Bar': 406,
    'Ice Cream Sundae': 342 
}

diet = pd.Series(calorie_info) #Passando um dicionário para constriur uma série. O valor irá se tornar o index dessa série
diet

Cereal              125
Chococlate Bar      406
Ice Cream Sundae    342
dtype: int64

In [ ]:
pd.Series(data=('Red', 'Green', 'Blue')) #Passando uma tupla como dado dessa série

0      Red
1    Green
2     Blue
dtype: object

In [ ]:
rgb_colors = [(120, 41, 26), (196, 165, 45)]
pd.Series(data=rgb_colors) #Utilizando uma lista com tuplas como dados para uma série

0     (120, 41, 26)
1    (196, 165, 45)
dtype: object

In [23]:
#O set (conjuntos) não é aceito para ser utilizando como um dado para constriur uma série, pois não é ordenado. Caso apareça dados como set, transforme em uma lista e construa a série

my_set = {'Ricky', 'Bobby'}
pd.Series(list(my_set))

0    Bobby
1    Ricky
dtype: object

In [24]:
from random import randint

random_data = np.random.randint(1,101,10)
random_data

array([99, 32, 44, 24, 68, 29, 61, 21, 23, 16])

In [ ]:
pd.Series(random_data) #Gerando uma série de números aleatórios

0    99
1    32
2    44
3    24
4    68
5    29
6    61
7    21
8    23
9    16
dtype: int64

In [ ]:
diet.values #Valores da série diet

array([125, 406, 342])

In [ ]:
type(diet.values)

numpy.ndarray

In [ ]:
diet.index #índices da série diet

Index(['Cereal', 'Chococlate Bar', 'Ice Cream Sundae'], dtype='object')

In [ ]:
diet.dtype #tipos de dados da série

dtype('int64')

In [ ]:
diet.size #Retorna o tamanho da série

3

In [ ]:
diet.shape #Retorna uma tupla com as dimensões da série

(3,)

In [ ]:
diet.is_unique #Retorna se todas a série possui valores únicos, caso possua valores duplicados retorna False

True

In [ ]:
pd.Series(data = [1, 3, 6]).is_monotonic_increasing #Se os valores estão aumentando, caso não ocorra retorna False

True

In [37]:
values = range(0, 500, 5)
nums = pd.Series(data = values)
nums

0       0
1       5
2      10
3      15
4      20
     ...
95    475
96    480
97    485
98    490
99    495
Length: 100, dtype: int64

In [38]:
nums.head(3)

0     0
1     5
2    10
dtype: int64

In [39]:
nums.head()

0     0
1     5
2    10
3    15
4    20
dtype: int64

In [40]:
nums.tail()

95    475
96    480
97    485
98    490
99    495
dtype: int64

In [41]:
numbers = pd.Series([1,2,3,np.nan, 4, 5])
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [ ]:
numbers.count() #Conta a quantidade de linhas com valores

np.int64(5)

In [ ]:
numbers.sum() #Soma todos os valores da coluna

np.float64(15.0)

In [ ]:
#A maioria dos métodos matemáticos ignoram os dados perdidos (NaN) por padrão. Pode ser passado um argumento de False para skipna incluir esses valores nos métodos matemáticos.Retorna um nan, pois não pode ser adicionado a um valor desconhecido

numbers.sum(skipna=False)

np.float64(nan)

In [ ]:
numbers.product() #Multiplica todo os valores da coluna

np.float64(120.0)

In [ ]:
numbers.cumsum() #Faz uma soma cumulativa para determinar qual valor contribui mais do que o total

0     1.0
1     3.0
2     6.0
3     NaN
4    10.0
5    15.0
dtype: float64

In [ ]:
numbers.pct_change() #Retorna a porcentagem de diferença de um valor da série para outra

/tmp/ipykernel_136624/527026991.py:1: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  numbers.pct_change()

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

In [48]:
numbers.pct_change(fill_method='bfill')

/tmp/ipykernel_136624/629865841.py:1: FutureWarning: The 'fill_method' keyword being not None and the 'limit' keyword in Series.pct_change are deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  numbers.pct_change(fill_method='bfill')

0         NaN
1    1.000000
2    0.500000
3    0.333333
4    0.000000
5    0.250000
dtype: float64

In [49]:
numbers.mean() #Média

np.float64(3.0)

In [ ]:
numbers.median() #Mediana

3.0

In [ ]:
numbers.std() #Devio padrão (variação nos dados)

1.5811388300841898

In [ ]:
numbers.max() #Valor máximo

5.0

In [ ]:
numbers.min() #Valor mínino

1.0

In [ ]:
animals = pd.Series(['koala', 'aardvark', 'zebra']) #Valores max e min com strings segue a ordem alfabética
print(animals.max())
print(animals.min())

zebra
aardvark

In [ ]:
numbers.describe() #Mostra os dados estatísticos desta série

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

In [ ]:
numbers.sample(3) #seleciona 3 amostras aleatórias da série

2    3.0
1    2.0
4    4.0
dtype: float64

In [ ]:
authors = pd.Series(["Hemingway", "Orwell", "Dostoevsky", "Fitzgerald", "Orwell"])
authors.unique() #Retorna os dados que são únicos

array(['Hemingway', 'Orwell', 'Dostoevsky', 'Fitzgerald'], dtype=object)

In [ ]:
authors.nunique() #Retorna o valor de dados únicos

4

In [60]:
s1 = pd.Series(data = [5, np.nan, 15], index = ['A', 'B', 'C'])
s1

A     5.0
B     NaN
C    15.0
dtype: float64

In [ ]:
s1 + 3 #Somou 3 com cada valor das linhas

A     8.0
B     NaN
C    18.0
dtype: float64

In [ ]:
s1.add(3) #Obtem o mesmo resultado da céclula anterior

A     8.0
B     NaN
C    18.0
dtype: float64

In [ ]:
s1.sub(5) #Subtrai 5 dos valores

A     0.0
B     NaN
C    10.0
dtype: float64

In [ ]:
s1.mul(2) #Multiplica por 2 os valores

A    10.0
B     NaN
C    30.0
dtype: float64

In [ ]:
s1.div(2) #Faz a divisão dos valores

A    2.5
B    NaN
C    7.5
dtype: float64

In [ ]:
s1.floordiv(4) #Faz divisão sem restos

A    1.0
B    NaN
C    3.0
dtype: float64

In [ ]:
s1.mod(3) #Retorna o resto da divisão

A    2.0
B    NaN
C    0.0
dtype: float64

In [68]:
s1 = pd.Series(data = [1,2,3], index = ['A', 'B', 'C'])
s2 = pd.Series([4,5,6], index = ['A', 'B', 'C'])

In [69]:
s1

A    1
B    2
C    3
dtype: int64

In [70]:
s2

A    4
B    5
C    6
dtype: int64

In [71]:
s1 + s2

A    5
B    7
C    9
dtype: int64

In [72]:
s1 = pd.Series(data = [3, 6, np.nan, 12])
s2 = pd.Series(data = [2, 6, np.nan, 12])

In [73]:
s1 == s2

0    False
1     True
2    False
3     True
dtype: bool

In [75]:
s1.eq(s2)

0    False
1     True
2    False
3     True
dtype: bool

In [76]:
s1 != s2

0     True
1    False
2     True
3    False
dtype: bool

In [77]:
s1.ne(s2)

0     True
1    False
2     True
3    False
dtype: bool

In [78]:
s1 = pd.Series(data = [5, 10, 15], index = ['A', 'B', 'C'])
s2 = pd.Series(data = [4, 8, 12, 14], index = ['B', 'C', 'D', 'E'])

In [ ]:
s1 +  s2 #O pandas irá alinhar os dados que possuem o mesmo índice e coloca NaN nos dados em que ele não sabe com o quê somar

A     NaN
B    14.0
C    23.0
D     NaN
E     NaN
dtype: float64