In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.read_csv('./pokemon.csv')

         Pokemon            Type
0      Bulbasaur  Grass / Poison
1        Ivysaur  Grass / Poison
2       Venusaur  Grass / Poison
3     Charmander            Fire
4     Charmeleon            Fire
..           ...             ...
804    Stakataka    Rock / Steel
805  Blacephalon    Fire / Ghost
806      Zeraora        Electric
807       Meltan           Steel
808     Melmetal           Steel

[809 rows x 2 columns]

In [8]:
df_pokemon = pd.read_csv('pokemon.csv', index_col='Pokemon') #A coluna Pokemon passou agora a ser o índice, porém ainda é um DataFrame e nãouma série

In [ ]:
df_pokemon = df_pokemon.squeeze() #Torna o DataFrame em Série 
df_pokemon

Pokemon
Bulbasaur      Grass / Poison
Ivysaur        Grass / Poison
Venusaur       Grass / Poison
Charmander               Fire
Charmeleon               Fire
                    ...
Stakataka        Rock / Steel
Blacephalon      Fire / Ghost
Zeraora              Electric
Meltan                  Steel
Melmetal                Steel
Name: Type, Length: 809, dtype: object